.commonmark-editor {
  background-color: #ffffff;
}
.commonmark-editor .header {
  padding: 5px 5px 0;
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
  border-radius: 4px 4px 0 0;
}
.commonmark-editor .header.transparent {
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
.commonmark-editor .header .tabs {
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
}
.commonmark-editor .header .tabs li {
  display: inline-block;
  padding-right: 5px;
}
.commonmark-editor .header .tabs li a {
  display: block;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  border-bottom-color: #cccccc;
  margin-bottom: -1px;
}
.commonmark-editor .header .tabs li a.active {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border-color: #cccccc;
  border-bottom-color: #ffffff;
  text-decoration: none;
}
.commonmark-editor .header .tabs li a.active:hover {
  font-color: #555555;
  background-color: #ffffff;
}
.commonmark-editor .header .tabs li a:hover {
  background-color: #e0e0e0;
  text-decoration: none;
}
.commonmark-editor .editor-pane {
  padding: 5px;
  border: 1px solid #cccccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
}
.commonmark-editor .editor-pane textarea {
  height: 250px;
  max-width: 100%;
}
.commonmark-editor .editor-pane.preview {
  height: 250px;
  overflow-y: scroll;
}
