.commonmark-editor {
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #ffffff;
}
.commonmark-editor .header {
  padding: 5px 5px 0;
  list-style-type: none;
  border-bottom: 1px solid #cccccc;
  background-color: #f0f0f0;
}
.commonmark-editor .header li {
  display: inline-block;
  padding-right: 5px;
}
.commonmark-editor .header li a {
  display: block;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  border-bottom-color: #cccccc;
  margin-bottom: -1px;
}
.commonmark-editor .header li a.active {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border-color: #cccccc;
  border-bottom-color: #ffffff;
}
.commonmark-editor .header li a.active:hover {
  font-color: #555555;
  background-color: #ffffff;
}
.commonmark-editor .header li a:hover {
  background-color: #e0e0e0;
  text-decoration: none;
}
.commonmark-editor .editor {
  padding: 5px;
}
.commonmark-editor .editor textarea {
  margin-bottom: 5px;
  height: 250px;
}
.commonmark-editor .editor:after {
  content: '';
  clear: both;
  display: block;
}
.commonmark-editor .preview {
  padding: 5px;
  height: 250px;
  overflow-y: scroll;
}
